.nav {
  min-height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: flex;
    align-items: center;
    min-height: 80px;
    cursor: pointer;

    & *{
      cursor: pointer !important;
    }
  }
}